<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= @title %></title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" placeholder="title">
        </div>
        <div class="form-group">
            <label for="text">text</label>
            <textarea type="text" class="form-control" id="text" placeholder="textarea"></textarea>
        </div>
        <%# <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div> %>
        <div class="form-group">
            <label for="image">image</label>
            <input type="text" class="form-control" id="image" placeholder="image">
        </div>
        <div class="form-group">
            <label for="title">url</label>
            <input type="text" class="form-control" id="url" placeholder="url">
        </div>
        <button type="button" id="submit" class="btn btn-default">Submit</button>
    </form>
    <script>
        
        function getdocument(){
            
            $.getJSON("/api/landingPage/document",function(x){
                console.log(x);
                $("#title").val(x.title);
                $("#text").val(x.text);
                $("#image").val(x.image);
                $("#url").val(x.url);
            });
        }
        
        $("#submit").click(function(){
            title = $("#title").val();
            text = $("#text").val();
            image = $("#image").val();
            url = $("#url").val();
            json = {"title":title,"text":text,"image":image,"url":url}
            console.log("post",json)
            $.post("/api/landingPage/document",json,function(x){
                console.log(x);
                json = JSON.parse(x);
                if(json.message=="ok"){
                    alert("update success")
                    getdocument();
                }
            });
        });

        getdocument();
    </script>
</body>
</html>