<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= @title %></title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <form>
        
    <table id="table" class="table">
        <tr>
            <th>#</th>
            <th>title</th>
        </tr>
    </table>
    
    </form>
    <script>
        
        function getbanner(){
            
            $.getJSON("/api/landingPage/tasks",function(x){
                console.log(x);
                x.forEach(element => {
                  console.log(element);

                  var id = element.id;
                  var title = element.title;
                  

                  var newRow = "<tr>"+
                  "<th>"+id+"</th>"+
                  "<td>"+title+"</td>"+
                  "</tr>";
                  $("#table tr:last").after(newRow);
              });
            });
        }
        
        $("#submit").click(function(){
            title = $("#title").val();
            text = $("#text").val();
            image = $("#image").val();
            json = {"title":title,"text":text,"image":image}
            console.log("post",json)
            $.post("/api/landingPage/banner",json,function(x){
                if(x=="ok"){
                    alert("update success")
                    getbanner();
                }
            });
        });

        getbanner();
    </script>
</body>
</html>