<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= @title %></title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <form>
        
    <table class="table">
      <caption>Optional table caption.</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    
    </form>
    <script>
        
        function getbanner(){
            
            $.getJSON("/api/landingPage/banner",function(x){
                console.log(x);
                $("#title").val(x.title);
                $("#text").val(x.text);
                $("#image").val(x.image);
            });
        }
        
        $("#submit").click(function(){
            title = $("#title").val();
            text = $("#text").val();
            image = $("#image").val();
            json = {"title":title,"text":text,"image":image}
            console.log("post",json)
            $.post("/api/landingPage/banner",json,function(x){
                if(x=="ok"){
                    alert("update success")
                    getbanner();
                }
            });
        });

        getbanner();
    </script>
</body>
</html>