<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/csshake.min.css" />
    <link href="/css/style.css?v=1.10" rel="stylesheet">
    <link href="/css/mobile.css?v=1.10" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jsSHA/src/sha.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/csshake.min.css" />
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/snake.js"></script>
</head>
<body>
<div id="wrapper">  
          <div id="cell">
              <div class="content">
                    <h2>报名成功！</h2>
                    <p>请添加 TrustNote 开发者助手微信号xxx 获得一对一人工服务</p>
                </div>
         </div>
</div>
</body>
</html>